@charset "UTF-8";
* {
  font-family: 'Times New Roman', Times, serif;
}

.ico {
  margin: 0 auto;
  text-align: center;
  width: 100px;
  height: 100px;
  position: relative;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-filter: url("#goo");
          filter: url("#goo");
}

.ico .circle {
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

.ico .circle.circle-top {
  height: 33.33333px;
  width: 41.66667px;
  -webkit-animation: blob-1-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: blob-1-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  z-index: 0;
  top: 0;
}

.ico .circle.circle-bottom {
  height: 33.33333px;
  width: 41.66667px;
  -webkit-animation: blob-2-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: blob-2-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  z-index: 9;
  bottom: 0px;
}

.ico .st-arrow {
  fill: #55544F;
  -webkit-animation: scrolly 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
          animation: scrolly 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
  -webkit-perspective: 9000px;
          perspective: 9000px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.svg {
  z-index: 9;
  position: relative;
}

@-webkit-keyframes blob-1-anim {
  0% {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  14% {
    -webkit-transform: translateX(-50%) translateY(-8px);
            transform: translateX(-50%) translateY(-8px);
  }
  24% {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
}

@keyframes blob-1-anim {
  0% {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  14% {
    -webkit-transform: translateX(-50%) translateY(-8px);
            transform: translateX(-50%) translateY(-8px);
  }
  24% {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
}

@-webkit-keyframes blob-2-anim {
  0% {
    -webkit-transform: scale(1) translate(-50%, 10px);
            transform: scale(1) translate(-50%, 10px);
  }
  30% {
    -webkit-transform: scale(1) translate(-50%, 10px);
            transform: scale(1) translate(-50%, 10px);
  }
  70% {
    -webkit-transform: scale(1) translate(-50%, 10px);
            transform: scale(1) translate(-50%, 10px);
  }
  95% {
    -webkit-transform: scale(1) translate(-50%, 26px);
            transform: scale(1) translate(-50%, 26px);
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, 10px);
            transform: scale(1) translate(-50%, 10px);
  }
}

@keyframes blob-2-anim {
  0% {
    -webkit-transform: scale(1) translate(-50%, 10px);
            transform: scale(1) translate(-50%, 10px);
  }
  30% {
    -webkit-transform: scale(1) translate(-50%, 10px);
            transform: scale(1) translate(-50%, 10px);
  }
  70% {
    -webkit-transform: scale(1) translate(-50%, 10px);
            transform: scale(1) translate(-50%, 10px);
  }
  95% {
    -webkit-transform: scale(1) translate(-50%, 26px);
            transform: scale(1) translate(-50%, 26px);
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, 10px);
            transform: scale(1) translate(-50%, 10px);
  }
}

@-webkit-keyframes scrolly {
  0% {
    -webkit-transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
            transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  70% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  95% {
    -webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
            transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
  100% {
    -webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
            transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
}

@keyframes scrolly {
  0% {
    -webkit-transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
            transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  70% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  95% {
    -webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
            transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
  100% {
    -webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
            transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
}

.logo-image {
  width: 200px;
  height: 100px;
}

.logo-container {
  float: left;
  width: 100%;
  position: absolute;
  top: 0px;
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, from(#ffd89b), to(#19547b));
  background: linear-gradient(to right, #ffd89b, #19547b);
  width: 100%;
  height: 100vh;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.landing-page .name {
  color: white;
  margin: 10px;
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
}

.landing-page .name .highlight {
  color: #e31c70;
}

.description {
  margin: 20px;
}

.next {
  color: white;
  border: 2px solid white;
  font-size: 25px;
  padding: 10px;
}

.next:hover {
  background-color: #36c5c5;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1b242f;
  color: white;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-list {
  color: white;
}

ul {
  margin-left: 30px;
}

ul:hover {
  color: #e31c70;
  cursor: pointer;
}

.about-me {
  margin-top: 200px;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-color: aqua;
          text-decoration-color: aqua;
}

.position-about-me {
  text-align: center;
  margin: 20px;
}

a {
  color: white;
}

a:hover {
  color: pink;
  text-decoration: none;
}

.skills {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  background: -webkit-gradient(linear, left top, right top, from(#19547b), to(#ffd89b));
  background: linear-gradient(to right, #19547b, #ffd89b);
  width: 100%;
  margin-top: 70px;
  height: 500px;
  padding: 10px;
}

.skills i {
  font-size: 50px;
  width: 100%;
  text-align: center;
}

.skills .style-fontawesome-icon {
  width: 100%;
  text-align: center;
  margin: 0px;
  padding: 10px;
}

#graph {
  float: right;
  margin-right: 120px;
  margin-top: 60px;
}

.animategraph {
  -webkit-animation: slide-right 0.7s;
          animation: slide-right 0.7s;
}

@-webkit-keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fixed {
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 4px 0;
  -webkit-animation: slide-down 0.7s;
          animation: slide-down 0.7s;
  opacity: 0.9;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.scrollaboutme {
  -webkit-animation: fontawesome 0.7s;
          animation: fontawesome 0.7s;
}

@-webkit-keyframes fontawesome {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fontawesome {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#about {
  margin-left: 100px;
  display: inline-block;
  border-radius: 15px 50px 30px;
  width: 300px;
  margin-top: 120px;
}

.speech-bubble {
  background-color: #f8f8f8;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  width: 110px;
  margin-left: 200px;
  text-align: center;
  padding: 20px;
  position: absolute;
}

.speech-bubble .arrow {
  border-style: solid;
  position: absolute;
}

.bottom {
  border-color: #c8c8c8 transparent transparent transparent;
  border-width: 8px 8px 0px 8px;
  bottom: -8px;
}

#image {
  background-image: url("./_1584487373.99301_190.gif");
  background-repeat: no-repeat;
  display: inline-block;
  margin: 10px;
  margin-left: 100px;
  height: 100px;
  width: 100px;
}

.click-me {
  margin-left: 100px;
}

#understand {
  position: absolute;
  z-index: 1;
  margin-top: 100px;
  margin: 20px;
  width: 80%;
  border: 2px solid black;
  color: white;
  background-color: black;
  opacity: 0.5;
}

#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: auto;
  background: -webkit-gradient(linear, left top, right top, from(#ffd89b), to(#19547b));
  background: linear-gradient(to right, #ffd89b, #19547b);
}

#modal .modal-content {
  height: 80%;
  width: 40%;
  left: 30%;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#bdc3c7), to(#ffffff));
  background: linear-gradient(to right, #bdc3c7, #ffffff);
}

#modal .modal-content .modal1 {
  color: black;
  padding: 20px;
}

#modal .button-container {
  position: absolute;
  bottom: 80px;
  width: 100%;
  height: 50px;
  text-align: center;
}

#modal .button-container #close-button {
  margin: 10px;
  width: 150px;
  border-radius: 25px;
}

#modal .button-container #close-button:hover {
  cursor: pointer;
  color: white;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  color: #1b1d1e;
}

#close {
  font-size: 30px;
  border: 2px solid black;
  color: #1b1d1e;
  background: -webkit-gradient(linear, left top, right top, from(#000428), to(#004e92));
  background: linear-gradient(to right, #000428, #004e92);
  text-align: right;
  margin: 10px;
}

#close:hover {
  cursor: pointer;
}

.transition {
  -webkit-animation: slide 0.7s;
          animation: slide 0.7s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.going-into-projects {
  border: 1px solid lightgray;
  width: 50%;
  margin: 0 auto;
  margin-top: 180px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 100 0 70 0;
}

.project-image {
  position: relative;
}

.overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: white;
}

.project-image:hover .overlay-effect {
  opacity: 1;
}

a {
  color: black;
}

.project-image:hover .text {
  opacity: 1;
  -webkit-animation: overlay 0.7s;
          animation: overlay 0.7s;
}

@-webkit-keyframes overlay {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes overlay {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.text {
  color: black;
  opacity: 0;
  font-size: 20px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.learn-more {
  color: black;
  border: 2px solid #E64086;
  opacity: 0;
  font-size: 20px;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.learn-more:hover {
  background-color: #E64086;
}

.project-image:hover .learn-more {
  opacity: 1;
  -webkit-animation: test 0.7s;
          animation: test 0.7s;
}

@-webkit-keyframes test {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes test {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.overlay-left {
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
}

img {
  width: 400px;
}

.position-projects {
  position: relative;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f5f5f5;
}

.position-projects .gap-between-projects {
  padding: 20px;
}

.going-into-get-in-touch {
  margin: 0 auto;
  border: 1px solid lightgray;
  margin-top: 100px;
  width: 50%;
}

.to-top {
  color: black;
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 1.8em;
  display: inline-block;
  /* or block */
  position: relative;
  border-color: black;
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.to-top:before {
  content: '▲';
  font-size: .9em;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -.7em;
  border: solid .13em black;
  border-radius: 10em;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.3em;
  border-color: inherit;
  -webkit-transition: -webkit-transform .5s ease-in;
  transition: -webkit-transform .5s ease-in;
  transition: transform .5s ease-in;
  transition: transform .5s ease-in, -webkit-transform .5s ease-in;
}

.to-top:hover {
  color: pink;
  border-color: pink;
}

.to-top:hover:before {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.get-in-touch {
  text-align: center;
  margin-top: 100px;
}

.footer {
  width: 500px;
  height: 200px;
  margin: 0 auto;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

i {
  font-size: 30px;
  cursor: pointer;
  color: #1b1d1e;
}

.fa {
  color: black;
}

.position-percentage {
  text-align: right;
}

.position-percentage-70 {
  text-align: right;
  width: 90px;
}

.position-percentage-85 {
  text-align: right;
  width: 63px;
}

.position-percentage-100 {
  text-align: right;
  width: 25px;
}

.space-between-bar-65 {
  width: 120px;
}

.space-between-bar-60 {
  width: 120px;
}

.space-between-bar-70 {
  width: 120px;
  background-color: #007AFE;
}

.space-between-bar-85 {
  width: 120px;
  background-color: #007AFE;
}

.space-between-bar-90 {
  width: 120px;
  background-color: #007AFE;
}

@media only screen and (max-width: 600px) {
  * {
    overflow-x: hidden;
  }
  .description-two {
    text-align: center;
  }
  ul {
    margin-left: 0px;
  }
  .name {
    text-align: center;
  }
  .position-projects {
    position: relative;
    width: 100%;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #f5f5f5;
  }
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 1100px;
  }
  .skills .spacing-fontawesome-icons {
    margin: 20px;
  }
  .skills i {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
  .skills .style-fontawesome-icon {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
  #graph {
    float: none;
    margin-right: 70px;
  }
  .position-image {
    margin-top: 20px;
    margin-right: 90px;
    text-align: center;
  }
  #about {
    margin: 0;
    margin-top: 150px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
    width: 250px;
  }
}
/*# sourceMappingURL=main.css.map */